<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAWEVXTeLvyPjXWts675VJhCKx-yyLCLoc</string>
	<key>GCM_SENDER_ID</key>
	<string>377422373515</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.doan</string>
	<key>PROJECT_ID</key>
	<string>chatsimple-7442d</string>
	<key>STORAGE_BUCKET</key>
	<string>chatsimple-7442d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:377422373515:ios:a1ae42848d9968e34a6a8e</string>
</dict>
</plist>